/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*min-width: 1307px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-size: 16px;
	/*Base-width for percentages in 1440px*/
}
a{
	text-decoration: none;
}
a {color:inherit;}      /* unvisited link */
a:visited {color:inherit;}  /* visited link */
a:hover {color:inherit;}  /* mouse over link */
a:active {color:inherit;}  /* selected link */



























.sec1{
	background: url(modelBack1.jpg) no-repeat center 40%;
	-webkit-background-size: cover;  
  	-moz-background-size: cover;  
  	-o-background-size: cover;  
  	background-size: cover;
  	overflow: hidden;
	width: 100%;
	height: 850px;
	color: white;
}
.sec1Contain{
	width: 1150px;
	margin: 0 auto;
}
.leftContain{
	float: left;
}
.rightContain{
	float: right;
}
.sec1LeftContain .logoContain{
	margin-top: 150px;
}
.sec1LeftContain .logo{
	width: 400px;
}
.sec1LeftContain .logo img{
	width: 100%;
}
.sec1RightContain{
	font-family: 'Lora';
	margin-top: 150px;
}
.sec1RightContain h1{
	text-align: center;
	font-size: 40px;
	letter-spacing: 2px;
	font-weight: 
}
.sec1RightContain .textContain p{
	width: 300px;
	margin-top: 25px;
	text-align: center;
}



